*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

canvas {
    flex-grow: 1;
    max-height: 400px;
}